<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.webElf.mapper.GuessResultMapper">
	<insert id="insert" parameterType="com.lyl.webElf.domain.GuessResult">
		insert into guess_result(id,gameId,title,createTime,endRate1,guessName1,result1,
		endRate2,endNum2,guessName2,result2,hostName) values (#{id},#{gameId},#{title},#{createTime},#{endRate1}
		,#{guessName1},#{result1},#{endRate2},#{endNum2},#{guessName2},#{result2},#{hostName})
	</insert>
</mapper>