<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.lyl.webElf.mapper.GuessDataMapper'>
	<insert id='insert' parameterType='com.lyl.webElf.domain.GuessData'>
		insert into guess_data(id,guessId,recordTime,createTime,rate1,num1,
		rate2,num2) values (#{id},#{guessId},#{recordTime},#{createTime},#{rate1}
		,#{num1},#{rate2},#{num2})
	</insert>
	<insert id='insertAll' parameterType='java.util.List'>
  INSERT INTO guess_data
    (id,guessId,createTime,rate1,num1,
		rate2,num2) values 
  <foreach collection ='guessDatas' item= 'guessData' index='index' separator=',' >
  ('#{guessData.id}','#{guessData.guessId}',#{guessData.createTime},#{guessData.rate1}
		,#{guessData.num1},#{guessData.rate2},#{guessData.num2})
	</foreach >
  </insert>
</mapper>