<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.lyl.webElf.mapper.LiveItemMapper'>
	<insert id='insert' parameterType='com.lyl.webElf.domain.LiveItem'>
		insert into live_item(id,num,title,isOnTv,isGuess,hostName,
		url,groupId) values (#{id},#{num},#{title},#{isOnTv},#{isGuess}
		,#{hostName},#{url},#{groupId})
	</insert>
</mapper>